.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #22c55e;
    color: white;

    padding: 12px 24px;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 600;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    z-index: 1000;

    animation: toast 2s ease-in-out forwards;
}

@keyframes toast {

    0% {
        opacity: 0;
        transform: translate(-50%, -40px);
    }

    15% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    85% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -40px);
    }

}

.toast.success {
    background: #22c55e;
}

.toast.error {
    background: #ef4444;
}

.toast.warning {
    background: #f59e0b;
}